body {
    background-color: #8e8e8e;
}

table {
    text-align: left;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #a7a6a6;
    background-color: #585858;
}

tr td:first-child {
    font-style: italic;
    vertical-align: text-top;
    color: #e5e5e5;
}

th {
    text-align: left; /* Doubling this line from 'table' because of IE */
    font-size: 20px;
    font-weight: normal;
    padding: 7px 7px 7px 7px;
}

td {
    font-weight: normal;
    padding:8px 10px 7px 7px;
}

#name::before {
    content: "\2022";
    font-size: 45px;
    vertical-align: top;
    line-height: 15px;
    color: #74ba7e;
}

#red {
    font-weight: 700;
    color: #da0202;
}

#orange {
    font-weight: 700;
    color: #d16d2d;
}

a, #name {
    text-decoration: none;
    color: #f0e6ab;
}