ul>li>ul {
    list-style: none;
    display: none;
    padding: 0px;
}
li {
    display: none;
}
span:hover {
    text-decoration: underline;
}
ul:hover li {
    display: block;
    text-decoration: none;
    color: #888;
    padding-left: 1%;
}
ul:hover li:hover ul {
    display: block;
    text-decoration: none;
    color: #888;
}
ul {
    margin: 0px;
    position:
}
